body {
    width: 80%;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    margin-left: 10em;
    margin-right: 10em;
}

span.title {
    font-size: 18pt;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
}

table.banner {
    border-bottom: 1px solid #999999;
}

tr.linktabs {
}

td.linktab {
    border: 1px solid #999999;
    text-align: center;
}

td.linktab a {
    text-decoration: none;
}

