body {
    width: 80%;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    margin-left: 10em;
    margin-right: 10em;
}

span.title {
    font-size: 18pt;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
}

